# Ignore node_modules in all subdirectories
**/node_modules

# Ignore package-lock.json in all subdirectories
**/package-lock.json

# Ignore build artifacts
**/build
 

# Ignore IPFS and Postgres data directories
**/data 
**/generated